header {
    position: relative;
}

.mobile-icon {
    display: none;
    cursor: pointer;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    height: 8rem;
    list-style: none;
    padding: 0;
}

header img {
    width: 8vw;
    height: 8vw;
    cursor: pointer;
    background-color: inherit;
}

header li {
    margin: 1rem;
}

header li a {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
}

header a:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}


header a:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

header a:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

@media (max-width:800px) {
    .mobile-icon {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
    }

    header ul {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
        z-index: 1;
    }

    .logo {
        width: 15vw;
        height: 15vw;
    }

    header ul.menu-active {
        display: flex;
    }

    header li a {
        width: 30vw;
        max-width: 100%;
        margin: 0;
    }
}